* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-image: url("./Images/sunrise.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 2.5em;
}
.content {
  text-align: center;
}
